## Imports

In [ ]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [ ]:
from requests import get
from bs4 import BeautifulSoup
from warnings import warn
from time import sleep
from random import randint
import numpy as np, pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Scraping

In [ ]:
# pages = np.arange(1, 100, 50)
# # headers = {'Accept-Language': 'en-US,en;q=0.8'} # If this is not specified, the default language is Chinese
# USER_AGENT = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0"
# headers = {"user-agent" : USER_AGENT, 'Accept-Language': 'en-US,en;q=0.8'}

# #initialize empty lists to store the variables scraped
# titles = []

# for page in pages:
    
#     # https://www.imdb.com/search/title/?genres=action&start=51&explore=title_type,genres&ref_=adv_nxt
#     # get request
#     response = get("https://www.imdb.com/search/title?genres=action&" 
#                    + "start=" 
#                    + str(page) 
#                    + "&explore=title_type,genres&ref_=adv_nxt", headers=headers)
     
#     # response = get("https://www.imdb.com/chart/top/?ref_=nv_mv_250", headers=headers)

#     sleep(randint(8,15))
    
#     #throw warning for status codes that are not 200
#     if response.status_code != 200:
#         warn('Request: {}; Status code: {}'.format(requests, response.status_code))

#     #parse the content of current iteration of request
#     page_html = BeautifulSoup(response.text, 'html.parser')
        
#     movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
    
#     #extract the 50 movies for that page
#     for container in movie_containers:
#         #title
#         title = container.h3.a.text
#         titles.append(title)

In [ ]:
# response = get("https://www.imdb.com/chart/top/?ref_=nv_mv_250", headers=headers)

# sleep(randint(8,15))
    
# #throw warning for status codes that are not 200
# if response.status_code != 200:
#   warn('Request: {}; Status code: {}'.format(requests, response.status_code))

#     #parse the content of current iteration of request
# page_html = BeautifulSoup(response.text, 'html.parser')
        
# movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
    
#     #extract the 50 movies for that page
# for container in movie_containers:

#         #conditional for all with metascore
#   if container.find('div', class_ = 'ratings-metascore') is not None:

#             #title
#     title = container.h3.a.text
#     titles.append(title)

## Function Title Scraping per Genre

In [ ]:
pages = np.arange(1, 100, 50)

# headers = {'Accept-Language': 'en-US,en;q=0.8'} # If this is not specified, the default language is Chinese
USER_AGENT = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0"
headers = {"user-agent" : USER_AGENT, 'Accept-Language': 'en-US,en;q=0.8'}

#initialize empty lists to store the variables scraped
titles = []

def title(genre):
  for page in pages:
    
    # https://www.imdb.com/search/title/?genres=action&start=51&explore=title_type,genres&ref_=adv_nxt
    # get request
    url = f"https://www.imdb.com/search/title?genres={genre}&start={page}&explore=title_type,genres&ref_=adv_nxt"
    response = get(url, headers=headers)
     
    # response = get("https://www.imdb.com/chart/top/?ref_=nv_mv_250", headers=headers)

    sleep(randint(8,15))
    
    #throw warning for status codes that are not 200
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(requests, response.status_code))

    #parse the content of current iteration of request
    page_html = BeautifulSoup(response.text, 'html.parser')
        
    movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
    
    #extract the 50 movies for that page
    for container in movie_containers:
        #title
        title = container.h3.a.text
        titles.append(title)

In [ ]:
genre = ['action', 'adventure', 'drama', 'comedy']
for genres in genre:
  title(genres)

In [ ]:
title_df = pd.DataFrame({'movie': titles})
title_df

                             movie
0                          Ghosted
1                  The Mandalorian
2                          Citadel
3                  The Night Agent
4                Peter Pan & Wendy
..                             ...
395  Once Upon a Time in Hollywood
396          A League of Their Own
397                 Rick and Morty
398               Ash vs Evil Dead
399                       Unstable

[400 rows x 1 columns]

In [ ]:
title_df['movie'] = title_df['movie'].str.replace(r'[^\w\s]+', '')
title_df

<ipython-input-14-234103124b02>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  title_df['movie'] = title_df['movie'].str.replace(r'[^\w\s]+', '')

                             movie
0                          Ghosted
1                  The Mandalorian
2                          Citadel
3                  The Night Agent
4                 Peter Pan  Wendy
..                             ...
395  Once Upon a Time in Hollywood
396          A League of Their Own
397                 Rick and Morty
398               Ash vs Evil Dead
399                       Unstable

[400 rows x 1 columns]

## Scraping Content

In [ ]:
def find_imdb_url(query):
  query = query.replace(' ', '+')
  URL = f"https://google.com/search?q={query}+imdb"
  
  resp = get(URL, headers= headers)
  if resp.status_code == 200:
    soup = BeautifulSoup(resp.content, "html.parser") 
  
  hasil = []
  for g in soup.find_all('div', class_='g'):
    anchors = g.find_all('a')
    if anchors:
      link = anchors[0]['href']
    if "imdb.com" in link:
        hasil.append(link)
  return hasil[0]

In [ ]:
query = 'Nope'
find_imdb_url(query)

In [ ]:
def imdb_scrape(URL):
  # desktop user-agent
  resp = get(URL, headers= headers)

  if resp.status_code == 200:
      soup = BeautifulSoup(resp.content, "html.parser")


  for g in soup.find_all('section', class_ = 'ipc-page-background ipc-page-background--base sc-f9e7f53-0 ifXVtO'):
    movie_genre = []
    storyline = ''
    plot = ''

    try:
      for genres in g.find_all('div', class_ ="ipc-chip-list__scroller"):
        for genre in genres.find_all('span', class_ ="ipc-chip__text"):
          movie_genre.append(genre.text)
            
      # Story line
      for story in g.find_all('div', class_ = "ipc-html-content ipc-html-content--base"):
        storyline = story.find('div').text

      # Plot
      for plots in g.find_all('p', class_ ="sc-5f699a2-3 lopbTB"):
        plot = plots.find('span').text

    except:
      pass

  return movie_genre, storyline, plot

In [ ]:
URL = 'https://www.imdb.com/title/tt10954984/'
imdb_scrape(URL)

(['Horror', 'Mystery', 'Sci-Fi'],
 "The biggest praise I can give is the cinematography and camera work. I really enjoy looking at wide shots of landscapes and the slow or sudden movements of the camera pushing the tension and anxiety of the scene without having to rely on dialogue or even any acting.I think the film will be divisive among its audience though. I think this is due to a couple of reasons. First, the story progression feels confusing at times to what we are used to seeing in a thriller or horror. I think labelling it as horror will automatically steer away some people while those that enjoys horror may be disappointed that it lacks enough scares to be called a horror. The trailer I feel also gives away too much and puts the film in a box that might detract viewers. Ultimately, you really have to be open-minded going to this movie. In respect to the genre, Nope really isn't a horror, but more of a blend of some sci-fi, some mystery, some comedy, and luckily, no romance.Nonetheless, I enjoyed the film. I think for movie lovers this will generally be a good experience. Peele seem to focus more on our shared love for films more than sticking to a particular formula of a single genre. There are many small things you'll enjoy if you already love movies, but it will probably have a visibly different experience to a casual movie goer.The themes of the film is also a good one, I feel. It feels like a cautionary modern fairy tale and the somewhat real dangers of chasing fame and disrespecting nature.Jordan Peele is shaping out to be a director whose name alone will generate an audience and I would put Nope as a more captivating experience than Us, and around the same level as Get Out despite being two very different stories. His vision and creativity continues to remain highly interesting and I'm so curious to find out what he goes to work on next!",
 'The residents of a lonely gulch in inland California bear witness to an uncanny and chilling discovery.')

In [ ]:
all_result = []
for ind, title in enumerate(title_df['movie']):
  print('-----------')
  print(ind, title)
  url = find_imdb_url(title)
  if url is not None:
    value = imdb_scrape(url)
    all_result.append(value)
  else:
    all_result.append(None)

-----------
0 Ghosted
-----------
1 The Mandalorian
-----------
2 Citadel
-----------
3 The Night Agent
-----------
4 Peter Pan  Wendy
-----------
5 The Hunger Games The Ballad of Songbirds and Snakes
-----------
6 John Wick Chapter 4
-----------
7 Barry
-----------
8 The Flash
-----------
9 Star Trek Picard
-----------
10 The Covenant
-----------
11 The Last of Us
-----------
12 Guardians of the Galaxy Vol 3
-----------
13 Dungeons  Dragons Honor Among Thieves
-----------
14 Game of Thrones
-----------
15 The Witcher
-----------
16 The Last Kingdom
-----------
17 AntMan and the Wasp Quantumania
-----------
18 The Rookie
-----------
19 The Last Kingdom Seven Kings Must Die
-----------
20 Rabbit Hole
-----------
21 Transformers Rise of the Beasts
-----------
22 Sweet Tooth
-----------
23 Sisu
-----------
24 Avatar The Way of Water
-----------
25 Mighty Morphin Power Rangers Once  Always
-----------
26 The Flash
-----------
27 Kisi Ka Bhai Kisi Ki Jaan
-----------
28 Demon Slayer Kimetsu no Yaiba
-----------
29 The Boys
-----------
30 Shazam Fury of the Gods
-----------
31 Fast X
-----------
32 Welcome to Eden
-----------
33 Attack on Titan
-----------
34 Everything Everywhere All at Once
-----------
35 NCIS
-----------
36 Operation Fortune Ruse de guerre
-----------
37 Suzume
-----------
38 Ahsoka
-----------
39 65
-----------
40 Titans
-----------
41 Top Gun Maverick
-----------
42 Dune Part Two
-----------
43 Shadow and Bone
-----------
44 911
-----------
45 True Lies
-----------
46 John Wick
-----------
47 Vikings
-----------
48 House of the Dragon
-----------
49 Bullet Train
-----------
50 Andor
-----------
51 Star Trek The Next Generation
-----------
52 FUBAR
-----------
53 The Equalizer 3
-----------
54 Nobody
-----------
55 Murder Mystery 2
-----------
56 The Three Musketeers DArtagnan
-----------
57 Star Trek Strange New Worlds
-----------
58 Star Wars The Clone Wars
-----------
59 Dune
-----------
60 911 Lone Star
-----------
61 Knights of the Zodiac
-----------
62 The Batman
-----------
63 One Piece
-----------
64 Indiana Jones and the Dial of Destiny
-----------
65 Superman  Lois
-----------
66 Twisted Metal
-----------
67 Mighty Morphin Power Rangers
-----------
68 Vinland Saga
-----------
69 The Unbearable Weight of Massive Talent
-----------
70 The Hunger Games
-----------
71 FBI
-----------
72 Lilo  Stitch
-----------
73 Chicago Fire
-----------
74 John Wick Chapter 3  Parabellum
-----------
75 From Dusk Till Dawn
-----------
76 Outer Banks
-----------
77 Guardians of the Galaxy
-----------
78 Star Wars Rebels
-----------
79 The Gray Man
-----------
80 NCIS Los Angeles
-----------
81 Magnum PI
-----------
82 Top Gun
-----------
83 Justified
-----------
84 Blade Runner 2049
-----------
85 Buffy the Vampire Slayer
-----------
86 Superman
-----------
87 Polite Society
-----------
88 Reacher
-----------
89 Designated Survivor
-----------
90 The Lord of the Rings The Rings of Power
-----------
91 Station 19
-----------
92 AKA
-----------
93 The Dark Knight
-----------
94 SpiderMan Across the SpiderVerse
-----------
95 The Recruit
-----------
96 Star Trek Voyager
-----------
97 Inception
-----------
98 John Wick Chapter 2
-----------
99 Ash vs Evil Dead
-----------
100 Ghosted
-----------
101 The Super Mario Bros Movie
-----------
102 The Mandalorian
-----------
103 Peter Pan  Wendy
-----------
104 The Hunger Games The Ballad of Songbirds and Snakes
-----------
105 The Flash
-----------
106 Star Trek Picard
-----------
107 The Last of Us
-----------
108 Guardians of the Galaxy Vol 3
-----------
109 Dungeons  Dragons Honor Among Thieves
-----------
110 Game of Thrones
-----------
111 The Witcher
-----------
112 The Little Mermaid
-----------
113 AntMan and the Wasp Quantumania
-----------
114 Transformers Rise of the Beasts
-----------
115 Sweet Tooth
-----------
116 Avatar The Way of Water
-----------
117 Mighty Morphin Power Rangers Once  Always
-----------
118 The Flash
-----------
119 Barbie
-----------
120 Demon Slayer Kimetsu no Yaiba
-----------
121 A Tourists Guide to Love
-----------
122 Shazam Fury of the Gods
-----------
123 Fast X
-----------
124 Attack on Titan
-----------
125 Everything Everywhere All at Once
-----------
126 Suzume
-----------
127 Ahsoka
-----------
128 65
-----------
129 Titans
-----------
130 Dune Part Two
-----------
131 Shadow and Bone
-----------
132 True Lies
-----------
133 Vikings
-----------
134 House of the Dragon
-----------
135 Andor
-----------
136 Star Trek The Next Generation
-----------
137 FUBAR
-----------
138 Doctor Who
-----------
139 Wish
-----------
140 Puss in Boots The Last Wish
-----------
141 Wonka
-----------
142 Lost
-----------
143 The Three Musketeers DArtagnan
-----------
144 Star Trek Strange New Worlds
-----------
145 Star Wars The Clone Wars
-----------
146 Interstellar
-----------
147 Super Mario Bros
-----------
148 Dune
-----------
149 Knights of the Zodiac
-----------
150 One Piece
-----------
151 Indiana Jones and the Dial of Destiny
-----------
152 Superman  Lois
-----------
153 Twisted Metal
-----------
154 Mighty Morphin Power Rangers
-----------
155 Vinland Saga
-----------
156 The Hunger Games
-----------
157 The Orville
-----------
158 Lilo  Stitch
-----------
159 Fantasy Island
-----------
160 Guardians of the Galaxy
-----------
161 Star Wars Rebels
-----------
162 Harry Potter and the Sorcerers Stone
-----------
163 Magnum PI
-----------
164 Superman
-----------
165 The Lord of the Rings The Rings of Power
-----------
166 SpiderMan Across the SpiderVerse
-----------
167 The Recruit
-----------
168 Star Trek Voyager
-----------
169 Inception
-----------
170 Rick and Morty
-----------
171 SpiderMan No Way Home
-----------
172 Love Death  Robots
-----------
173 Plane
-----------
174 Black Panther Wakanda Forever
-----------
175 Star Trek Discovery
-----------
176 Avengers Endgame
-----------
177 The Expendables 4
-----------
178 SWAT
-----------
179 Mission Impossible  Dead Reckoning Part One
-----------
180 Time Trap
-----------
181 The Book of Boba Fett
-----------
182 The Northman
-----------
183 Smallville
-----------
184 Avatar
-----------
185 No Time to Die
-----------
186 The Lord of the Rings The Fellowship of the Ring
-----------
187 Kraven the Hunter
-----------
188 Star Trek Deep Space Nine
-----------
189 Gladiator
-----------
190 The Meg 2 The Trench
-----------
191 Star Wars Jedi Survivor
-----------
192 Once Upon a Time
-----------
193 Star Wars The Bad Batch
-----------
194 Jurassic Park
-----------
195 Arrow
-----------
196 Peter Pan
-----------
197 Star Trek
-----------
198 Chupa
-----------
199 SpiderMan
-----------
200 The Diplomat
-----------
201 Succession
-----------
202 Beef
-----------
203 Ted Lasso
-----------
204 Citadel
-----------
205 Beau Is Afraid
-----------
206 Love  Death
-----------
207 The Night Agent
-----------
208 The Hunger Games The Ballad of Songbirds and Snakes
-----------
209 Yellowjackets
-----------
210 The Diplomat
-----------
211 Barry
-----------
212 Dead Ringers
-----------
213 Star Trek Picard
-----------
214 From
-----------
215 The Marvelous Mrs Maisel
-----------
216 Mrs Davis
-----------
217 Better Call Saul
-----------
218 Black Mirror
-----------
219 The Last of Us
-----------
220 Game of Thrones
-----------
221 The Witcher
-----------
222 Florida Man
-----------
223 The Last Kingdom
-----------
224 Breaking Bad
-----------
225 Obsession
-----------
226 The Rookie
-----------
227 The Walking Dead
-----------
228 Yellowstone
-----------
229 The Last Thing He Told Me
-----------
230 The Last Kingdom Seven Kings Must Die
-----------
231 Air
-----------
232 Rough Diamonds
-----------
233 Rabbit Hole
-----------
234 Greys Anatomy
-----------
235 Sweet Tooth
-----------
236 Perry Mason
-----------
237 The White Lotus
-----------
238 The Blacklist
-----------
239 Shameless
-----------
240 The Flash
-----------
241 Kisi Ka Bhai Kisi Ki Jaan
-----------
242 Whitney Houston I Wanna Dance with Somebody
-----------
243 True Detective
-----------
244 Stranger Things
-----------
245 Shrinking
-----------
246 The Boys
-----------
247 A Haunting in Venice
-----------
248 Law  Order Special Victims Unit
-----------
249 Supernatural
-----------
250 The Sopranos
-----------
251 Are You There God Its Me Margaret
-----------
252 Daisy Jones  The Six
-----------
253 Firefly Lane
-----------
254 Welcome to Eden
-----------
255 Attack on Titan
-----------
256 Tetris
-----------
257 NCIS
-----------
258 Criminal Minds
-----------
259 Modern Family
-----------
260 Ahsoka
-----------
261 Suits
-----------
262 Malpractice
-----------
263 Saint X
-----------
264 65
-----------
265 Titans
-----------
266 Top Gun Maverick
-----------
267 You
-----------
268 Peaky Blinders
-----------
269 The Good Doctor
-----------
270 Quasi
-----------
271 The Marked Heart
-----------
272 Silo
-----------
273 Will Trent
-----------
274 1923
-----------
275 Babylon
-----------
276 Dune Part Two
-----------
277 The Whale
-----------
278 Snowfall
-----------
279 Workin Moms
-----------
280 Hunger
-----------
281 Killers of the Flower Moon
-----------
282 A Man Called Otto
-----------
283 SexLife
-----------
284 Shadow and Bone
-----------
285 Severance
-----------
286 911
-----------
287 Bones
-----------
288 Vikings
-----------
289 House of the Dragon
-----------
290 American Horror Story
-----------
291 Andor
-----------
292 Euphoria
-----------
293 Nobody
-----------
294 Doctor Who
-----------
295 Blue Lights
-----------
296 The Wire
-----------
297 House
-----------
298 The Power
-----------
299 The Nurse
-----------
300 Succession
-----------
301 Ghosted
-----------
302 Beef
-----------
303 Ted Lasso
-----------
304 The Super Mario Bros Movie
-----------
305 Beau Is Afraid
-----------
306 Jury Duty
-----------
307 Peter Pan  Wendy
-----------
308 Barry
-----------
309 The Marvelous Mrs Maisel
-----------
310 Mrs Davis
-----------
311 Guardians of the Galaxy Vol 3
-----------
312 Dungeons  Dragons Honor Among Thieves
-----------
313 AntMan and the Wasp Quantumania
-----------
314 Renfield
-----------
315 Cocaine Bear
-----------
316 The White Lotus
-----------
317 Shameless
-----------
318 Young Sheldon
-----------
319 Kisi Ka Bhai Kisi Ki Jaan
-----------
320 Barbie
-----------
321 The Office
-----------
322 Shrinking
-----------
323 The Boys
-----------
324 A Tourists Guide to Love
-----------
325 Shazam Fury of the Gods
-----------
326 Its Always Sunny in Philadelphia
-----------
327 Are You There God Its Me Margaret
-----------
328 Everything Everywhere All at Once
-----------
329 Operation Fortune Ruse de guerre
-----------
330 Modern Family
-----------
331 Suits
-----------
332 Friends
-----------
333 The Menu
-----------
334 Quasi
-----------
335 Babylon
-----------
336 The Big Bang Theory
-----------
337 Workin Moms
-----------
338 South Park
-----------
339 A Man Called Otto
-----------
340 SexLife

UnboundLocalError: ignored

In [ ]:
final_result = pd.DataFrame(all_result, columns=["Genre", "Storyline", 'plot'])

In [ ]:
final_result

,Genre,Storyline,plot
0,"[Action, Adventure, Comedy]",Seriously. This isn't rocket science I underst...,Cole falls head over heels for enigmatic Sadie...
1,"[Action, Adventure, Fantasy]",This show is such a refreshing breeze of great...,The travels of a lone bounty hunter in the out...
2,"[Action, Drama, Thriller]",Mason Kane (Richard Madden) was once one of th...,"Global spy agency Citadel has fallen, and its ..."
3,"[Action, Drama, Thriller]","Despite the low budget feel to this series, it...",Low-level FBI agent Peter Sutherland works in ...
4,"[Action, Adventure, Comedy]","I went into this neutral, excited that Disney ...",Based on J. M. Barrie's novel Peter and Wendy ...
...,...,...,...
335,"[Comedy, Drama, History]",Babylon had some moments that were better than...,A tale of outsized ambition and outrageous exc...
336,"[Comedy, Romance]",When my boyfriend tuned into the premiere I th...,A woman who moves into an apartment across the...
337,"[Comedy, Drama]","I was on a long flight, and was planning to ch...",Four very different thirtysomething working-mo...
338,"[Animation, Comedy]","South Park is one of the most misunderstood, a...",Follows the misadventures of four irreverent g...
339,"[Comedy, Drama]",Wow. I was not prepared for that. I thought I ...,Otto is a grump who's given up on life followi...

In [ ]:
title_df_new = title_df.iloc[:340]
title_df_new

                   movie
0                Ghosted
1        The Mandalorian
2                Citadel
3        The Night Agent
4       Peter Pan  Wendy
..                   ...
335              Babylon
336  The Big Bang Theory
337          Workin Moms
338           South Park
339    A Man Called Otto

[340 rows x 1 columns]

In [ ]:
df = pd.merge(title_df_new, final_result, left_index=True, right_index=True)
df

,movie,Genre,Storyline,plot
0,Ghosted,"[Action, Adventure, Comedy]",Seriously. This isn't rocket science I underst...,Cole falls head over heels for enigmatic Sadie...
1,The Mandalorian,"[Action, Adventure, Fantasy]",This show is such a refreshing breeze of great...,The travels of a lone bounty hunter in the out...
2,Citadel,"[Action, Drama, Thriller]",Mason Kane (Richard Madden) was once one of th...,"Global spy agency Citadel has fallen, and its ..."
3,The Night Agent,"[Action, Drama, Thriller]","Despite the low budget feel to this series, it...",Low-level FBI agent Peter Sutherland works in ...
4,Peter Pan Wendy,"[Action, Adventure, Comedy]","I went into this neutral, excited that Disney ...",Based on J. M. Barrie's novel Peter and Wendy ...
...,...,...,...,...
335,Babylon,"[Comedy, Drama, History]",Babylon had some moments that were better than...,A tale of outsized ambition and outrageous exc...
336,The Big Bang Theory,"[Comedy, Romance]",When my boyfriend tuned into the premiere I th...,A woman who moves into an apartment across the...
337,Workin Moms,"[Comedy, Drama]","I was on a long flight, and was planning to ch...",Four very different thirtysomething working-mo...
338,South Park,"[Animation, Comedy]","South Park is one of the most misunderstood, a...",Follows the misadventures of four irreverent g...
339,A Man Called Otto,"[Comedy, Drama]",Wow. I was not prepared for that. I thought I ...,Otto is a grump who's given up on life followi...