## Imports

In [ ]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [ ]:
from requests import get
from bs4 import BeautifulSoup
from warnings import warn
from time import sleep
from random import randint
import numpy as np, pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Scraping

## Function Title Scraping per Genre

In [ ]:
pages = np.arange(1, 100, 50)

# headers = {'Accept-Language': 'en-US,en;q=0.8'} # If this is not specified, the default language is Chinese
USER_AGENT = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0"
headers = {"user-agent" : USER_AGENT, 'Accept-Language': 'en-US,en;q=0.8'}

#initialize empty lists to store the variables scraped
titles = []

def title(genre):
  for page in pages:
    
    # https://www.imdb.com/search/title/?genres=action&start=51&explore=title_type,genres&ref_=adv_nxt
    # get request
    url = f"https://www.imdb.com/search/title?genres={genre}&start={page}&explore=title_type,genres&ref_=adv_nxt"
    response = get(url, headers=headers)
     
    # response = get("https://www.imdb.com/chart/top/?ref_=nv_mv_250", headers=headers)

    sleep(randint(8,15))
    
    #throw warning for status codes that are not 200
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(requests, response.status_code))

    #parse the content of current iteration of request
    page_html = BeautifulSoup(response.text, 'html.parser')
        
    movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
    
    #extract the 50 movies for that page
    for container in movie_containers:
        #title
        title = container.h3.a.text
        titles.append(title)

In [ ]:
genre = ['action', 'adventure', 'drama', 'comedy']
for genres in genre:
  title(genres)

In [ ]:
title = pd.DataFrame({'movie': titles})
title

                                       movie
0             Guardians of the Galaxy Vol. 3
1                                    Citadel
2                          Peter Pan & Wendy
3    Dungeons & Dragons: Honor Among Thieves
4                             Dune: Part Two
..                                       ...
395                             Not Dead Yet
396                  The Wolf of Wall Street
397                                 Scream 4
398             Only Murders in the Building
399                                     Hook

[400 rows x 1 columns]

In [ ]:
title_df = pd.DataFrame({'movie': titles})
title_df

                                       movie
0             Guardians of the Galaxy Vol. 3
1                                    Citadel
2                          Peter Pan & Wendy
3    Dungeons & Dragons: Honor Among Thieves
4                             Dune: Part Two
..                                       ...
395                             Not Dead Yet
396                  The Wolf of Wall Street
397                                 Scream 4
398             Only Murders in the Building
399                                     Hook

[400 rows x 1 columns]

In [ ]:
title_df['movie'] = title_df['movie'].str.replace(r'[^\w\s]+', '')
title_df

<ipython-input-5-234103124b02>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  title_df['movie'] = title_df['movie'].str.replace(r'[^\w\s]+', '')

                                     movie
0            Guardians of the Galaxy Vol 3
1                                  Citadel
2                         Peter Pan  Wendy
3    Dungeons  Dragons Honor Among Thieves
4                            Dune Part Two
..                                     ...
395                           Not Dead Yet
396                The Wolf of Wall Street
397                               Scream 4
398           Only Murders in the Building
399                                   Hook

[400 rows x 1 columns]

## Scraping Content

In [ ]:
def find_imdb_url(query):
  query = query.replace(' ', '+')
  URL = f"https://google.com/search?q={query}+imdb"
  
  resp = get(URL, headers= headers)
  if resp.status_code == 200:
    soup = BeautifulSoup(resp.content, "html.parser") 
  
  hasil = []
  for g in soup.find_all('div', class_='g'):
    anchors = g.find_all('a')
    if anchors:
      link = anchors[0]['href']
    if "imdb.com" in link:
        hasil.append(link)
  return hasil[0]

In [ ]:
query = 'Nope'
find_imdb_url(query)

'https://www.imdb.com/title/tt10954984/'

In [ ]:
def imdb_scrape(URL):
  # desktop user-agent
  resp = get(URL, headers= headers)

  if resp.status_code == 200:
      soup = BeautifulSoup(resp.content, "html.parser")


  for g in soup.find_all('section', class_ = 'ipc-page-background ipc-page-background--base sc-f9e7f53-0 ifXVtO'):
    movie_genre = []
    storyline = ''
    plot = ''

    try:
      for genres in g.find_all('div', class_ ="ipc-chip-list__scroller"):
        for genre in genres.find_all('span', class_ ="ipc-chip__text"):
          movie_genre.append(genre.text)
            
      # Story line
      for story in g.find_all('div', class_ = "ipc-html-content ipc-html-content--base"):
        storyline = story.find('div').text

      # Plot
      for plots in g.find_all('p', class_ ="sc-5f699a2-3 lopbTB"):
        plot = plots.find('span').text

    except:
      pass

  return movie_genre, storyline, plot

In [ ]:
URL = 'https://www.imdb.com/title/tt10954984/'
imdb_scrape(URL)

(['Horror', 'Mystery', 'Sci-Fi'],
 'The amount of reviews calling this pointless and terrible clearly didn\'t read much into what happens here. Peele is pointing a mirror up to you and the most ironic part is a lot of don\'t even seem to notice. No, this isn\'t a typical horror movie. It\'s more of a Spielbergian blockbuster satire with some amusing moments sprinkled throughout. The "entity" is creative and can be quite terrifying. The cinematography is top notch and probably the standout feature of the film, while Kaluuya can say an immense amount without even speaking a word. The screenplay is odd to say the least, but it hits more than it misses.While I still think this is a lesser film than Get Out or Us and it ran a little too long, you have to commend its originality in a summer sea of IP-based films. Peele attempts something profound and unique here, which should be respected regardless of your thoughts on the film.',
 'The residents of a lonely gulch in inland California bear witness to an uncanny and chilling discovery.')

In [ ]:
all_result = []
for ind, title in enumerate(title_df['movie']):
  print('-----------')
  print(ind, title)
  url = find_imdb_url(title)
  if url is not None:
    value = imdb_scrape(url)
    all_result.append(value)
  else:
    all_result.append(None)

-----------
0 Guardians of the Galaxy Vol 3
-----------
1 Citadel
-----------
2 Peter Pan  Wendy
-----------
3 Dungeons  Dragons Honor Among Thieves
-----------
4 Dune Part Two
-----------
5 Sweet Tooth
-----------
6 The Hunger Games The Ballad of Songbirds and Snakes
-----------
7 Ghosted
-----------
8 The Mandalorian
-----------
9 Barry
-----------
10 The Night Agent
-----------
11 AKA
-----------
12 John Wick Chapter 4
-----------
13 The Rookie
-----------
14 Game of Thrones
-----------
15 Sisu
-----------
16 The Last of Us
-----------
17 The Covenant
-----------
18 The Flash
-----------
19 Rabbit Hole
-----------
20 The Last Kingdom
-----------
21 The Flash
-----------
22 Star Trek Picard
-----------
23 Gran Turismo
-----------
24 Guardians of the Galaxy
-----------
25 Dune
-----------
26 Avatar The Way of Water
-----------
27 AntMan and the Wasp Quantumania
-----------
28 Demon Slayer Kimetsu no Yaiba
-----------
29 Transformers Rise of the Beasts
-----------
30 The Boys
-----------
31 Star Wars Visions
-----------
32 NCIS
-----------
33 The Witcher
-----------
34 The Last Kingdom Seven Kings Must Die
-----------
35 Star Wars Jedi Survivor
-----------
36 Guardians of the Galaxy Vol 2
-----------
37 Attack on Titan
-----------
38 Fast X
-----------
39 Everything Everywhere All at Once
-----------
40 Twisted Metal
-----------
41 Operation Fortune Ruse de guerre
-----------
42 Knights of the Zodiac
-----------
43 Shazam Fury of the Gods
-----------
44 911
-----------
45 Top Gun Maverick
-----------
46 Titans
-----------
47 Andor
-----------
48 Mafia Mamma
-----------
49 House of the Dragon
-----------
50 911 Lone Star
-----------
51 Vikings
-----------
52 65
-----------
53 Bullet Train
-----------
54 True Lies
-----------
55 Shadow and Bone
-----------
56 John Wick
-----------
57 Suzume
-----------
58 Star Trek The Next Generation
-----------
59 Reacher
-----------
60 Star Wars Episode VI  Return of the Jedi
-----------
61 Vinland Saga
-----------
62 The Hunger Games
-----------
63 Star Wars The Clone Wars
-----------
64 One Piece
-----------
65 SpiderMan Across the SpiderVerse
-----------
66 Nobody
-----------
67 Star Wars Episode IV  A New Hope
-----------
68 Heat
-----------
69 Gladiator 2
-----------
70 The Batman
-----------
71 Chicago Fire
-----------
72 Welcome to Eden
-----------
73 Star Trek Strange New Worlds
-----------
74 Kisi Ka Bhai Kisi Ki Jaan
-----------
75 Polite Society
-----------
76 Ahsoka
-----------
77 Indiana Jones and the Dial of Destiny
-----------
78 Murder Mystery 2
-----------
79 Superman  Lois
-----------
80 Station 19
-----------
81 Ponniyin Selvan Part Two
-----------
82 The Lord of the Rings The Rings of Power
-----------
83 The Unbearable Weight of Massive Talent
-----------
84 Justified
-----------
85 Blade Runner 2049
-----------
86 Top Gun
-----------
87 Buffy the Vampire Slayer
-----------
88 Gladiator
-----------
89 Inception
-----------
90 The Dark Knight
-----------
91 Prison Break
-----------
92 Outer Banks
-----------
93 SpiderMan No Way Home
-----------
94 Avengers Endgame
-----------
95 Chicago PD
-----------
96 The Rookie Feds
-----------
97 The Recruit
-----------
98 FBI
-----------
99 The Lord of the Rings The Fellowship of the Ring
-----------
100 Guardians of the Galaxy Vol 3
-----------
101 Peter Pan  Wendy
-----------
102 Dungeons  Dragons Honor Among Thieves
-----------
103 Dune Part Two
-----------
104 The Super Mario Bros Movie
-----------
105 Sweet Tooth
-----------
106 The Hunger Games The Ballad of Songbirds and Snakes
-----------
107 Ghosted
-----------
108 The Mandalorian
-----------
109 Game of Thrones
-----------
110 The Little Mermaid
-----------
111 The Last of Us
-----------
112 The Flash
-----------
113 The Flash
-----------
114 Star Trek Picard
-----------
115 Gran Turismo
-----------
116 Guardians of the Galaxy
-----------
117 Dune
-----------
118 Avatar The Way of Water
-----------
119 AntMan and the Wasp Quantumania
-----------
120 Demon Slayer Kimetsu no Yaiba
-----------
121 Transformers Rise of the Beasts
-----------
122 Star Wars Visions
-----------
123 The Witcher
-----------
124 Star Wars Jedi Survivor
-----------
125 Guardians of the Galaxy Vol 2
-----------
126 Attack on Titan
-----------
127 Fast X
-----------
128 Everything Everywhere All at Once
-----------
129 Twisted Metal
-----------
130 Knights of the Zodiac
-----------
131 Shazam Fury of the Gods
-----------
132 Barbie
-----------
133 Titans
-----------
134 Andor
-----------
135 House of the Dragon
-----------
136 Vikings
-----------
137 Wish
-----------
138 65
-----------
139 True Lies
-----------
140 Doctor Who
-----------
141 Shadow and Bone
-----------
142 Suzume
-----------
143 Star Trek The Next Generation
-----------
144 Peter Pan
-----------
145 Lost
-----------
146 Star Wars Episode VI  Return of the Jedi
-----------
147 Vinland Saga
-----------
148 The Hunger Games
-----------
149 Star Wars The Clone Wars
-----------
150 One Piece
-----------
151 Puss in Boots The Last Wish
-----------
152 SpiderMan Across the SpiderVerse
-----------
153 Interstellar
-----------
154 Star Wars Episode IV  A New Hope
-----------
155 Gladiator 2
-----------
156 Star Trek Strange New Worlds
-----------
157 Idiocracy
-----------
158 Ahsoka
-----------
159 Indiana Jones and the Dial of Destiny
-----------
160 A Tourists Guide to Love
-----------
161 Harry Potter and the Sorcerers Stone
-----------
162 Superman  Lois
-----------
163 Ponniyin Selvan Part Two
-----------
164 The Lord of the Rings The Rings of Power
-----------
165 Gladiator
-----------
166 The Orville
-----------
167 Inception
-----------
168 Rick and Morty
-----------
169 SpiderMan No Way Home
-----------
170 Avengers Endgame
-----------
171 The Recruit
-----------
172 The Lord of the Rings The Fellowship of the Ring
-----------
173 Mission Impossible  Dead Reckoning Part One
-----------
174 Star Wars Rebels
-----------
175 Star Trek Voyager
-----------
176 The Three Musketeers DArtagnan
-----------
177 Hook
-----------
178 The Right Stuff
-----------
179 Super Mario Bros
-----------
180 Fantasy Island
-----------
181 Wonka
-----------
182 Star Wars Episode I  The Phantom Menace
-----------
183 Love Death  Robots
-----------
184 Black Panther Wakanda Forever
-----------
185 Smallville
-----------
186 Plane
-----------
187 Dune
-----------
188 Thor Love and Thunder
-----------
189 Mighty Morphin Power Rangers Once  Always
-----------
190 SWAT
-----------
191 Arrow
-----------
192 Once Upon a Time
-----------
193 Magnum PI
-----------
194 The Expendables 4
-----------
195 Inglourious Basterds
-----------
196 Star Trek Discovery
-----------
197 Killing Eve
-----------
198 Rogue One A Star Wars Story
-----------
199 Star Trek Deep Space Nine
-----------
200 Succession
-----------
201 The Diplomat
-----------
202 Citadel
-----------
203 Love  Death
-----------
204 Ted Lasso
-----------
205 Dune Part Two
-----------
206 Sweet Tooth
-----------
207 Beef
-----------
208 The Hunger Games The Ballad of Songbirds and Snakes
-----------
209 Silo
-----------
210 Firefly Lane
-----------
211 Barry
-----------
212 Queen Charlotte A Bridgerton Story
-----------
213 The Night Agent
-----------
214 Yellowjackets
-----------
215 Beau Is Afraid
-----------
216 Fatal Attraction
-----------
217 The Marvelous Mrs Maisel
-----------
218 From
-----------
219 White House Plumbers
-----------
220 The Rookie
-----------
221 Game of Thrones
-----------
222 Better Call Saul
-----------
223 Black Mirror
-----------
224 Yellowstone
-----------
225 The Last of Us
-----------
226 A Small Light
-----------
227 Breaking Bad
-----------
228 The Walking Dead
-----------
229 The Last Thing He Told Me
-----------
230 Greys Anatomy
-----------
231 Mrs Davis
-----------
232 Are You There God Its Me Margaret
-----------
233 Rabbit Hole
-----------
234 The Nurse
-----------
235 The Last Kingdom
-----------
236 The Flash
-----------
237 Shameless
-----------
238 Air
-----------
239 Dead Ringers
-----------
240 Star Trek Picard
-----------
241 Gran Turismo
-----------
242 Dune
-----------
243 The Blacklist
-----------
244 Workin Moms
-----------
245 Stranger Things
-----------
246 The Boys
-----------
247 The White Lotus
-----------
248 The Good Doctor
-----------
249 True Detective
-----------
250 Law  Order Special Victims Unit
-----------
251 Star Wars Visions
-----------
252 Florida Man
-----------
253 The Sopranos
-----------
254 Will Trent
-----------
255 Supernatural
-----------
256 NCIS
-----------
257 The Witcher
-----------
258 Rough Diamonds
-----------
259 The Last Kingdom Seven Kings Must Die
-----------
260 Star Wars Jedi Survivor
-----------
261 Shrinking
-----------
262 Bridgerton
-----------
263 Attack on Titan
-----------
264 Criminal Minds
-----------
265 Modern Family
-----------
266 Suits
-----------
267 Perry Mason
-----------
268 Peaky Blinders
-----------
269 Candy
-----------
270 Knights of the Zodiac
-----------
271 Daisy Jones  The Six
-----------
272 A Million Little Things
-----------
273 Love Again
-----------
274 1923
-----------
275 911
-----------
276 Obsession
-----------
277 Top Gun Maverick
-----------
278 Severance
-----------
279 SexLife
-----------
280 Titans
-----------
281 A Man Called Otto
-----------
282 Beautiful Disaster
-----------
283 Tetris
-----------
284 You
-----------
285 Euphoria
-----------
286 The Whale
-----------
287 Andor
-----------
288 Oppenheimer
-----------
289 A Haunting in Venice
-----------
290 Babylon
-----------
291 Bones
-----------
292 Fargo
-----------
293 House
-----------
294 Saint X
-----------
295 American Horror Story
-----------
296 The Diplomat
-----------
297 House of the Dragon
-----------
298 911 Lone Star
-----------
299 Vikings
-----------
300 Guardians of the Galaxy Vol 3
-----------
301 Succession
-----------
302 Ted Lasso
-----------
303 Peter Pan  Wendy
-----------
304 Dungeons  Dragons Honor Among Thieves
-----------
305 The Super Mario Bros Movie
-----------
306 Beef
-----------
307 Ghosted
-----------
308 Jury Duty
-----------
309 Barry
-----------
310 Renfield
-----------
311 Beau Is Afraid
-----------
312 The Marvelous Mrs Maisel
-----------
313 Mrs Davis
-----------
314 Are You There God Its Me Margaret
-----------
315 Shameless
-----------
316 Young Sheldon
-----------
317 Guardians of the Galaxy
-----------
318 Its Always Sunny in Philadelphia
-----------
319 Workin Moms
-----------
320 AntMan and the Wasp Quantumania
-----------
321 The Boys
-----------
322 The White Lotus
-----------
323 The Office
-----------
324 Cocaine Bear
-----------
325 Shrinking
-----------
326 Guardians of the Galaxy Vol 2
-----------
327 Everything Everywhere All at Once
-----------
328 Modern Family
-----------
329 Suits
-----------
330 Bupkis
-----------
331 Twisted Metal
-----------
332 Operation Fortune Ruse de guerre
-----------
333 The Big Bang Theory
-----------
334 Shazam Fury of the Gods
-----------
335 Friends
-----------
336 A Million Little Things
-----------
337 The Menu
-----------
338 Love Again
-----------
339 Wednesday
-----------
340 SexLife
-----------
341 Barbie
-----------
342 Pitch Perfect
-----------
343 A Man Called Otto
-----------
344 Babylon
-----------
345 South Park
-----------
346 Bones
-----------
347 Mafia Mamma
-----------
348 Wish
-----------
349 Ghosts
-----------
350 Bullet Train
-----------
351 Schmigadoon
-----------
352 True Lies
-----------
353 Champions
-----------
354 Seinfeld
-----------
355 Lucky Hank
-----------
356 Tu Jhoothi Main Makkaar

UnboundLocalError: ignored

In [ ]:
final_result = pd.DataFrame(all_result, columns=["Genre", "Storyline", 'plot'])

In [ ]:
final_result

,Genre,Storyline,plot
0,"[Action, Adventure, Comedy]","""There is no God. That's why I stepped in."" I ...","Still reeling from the loss of Gamora, Peter Q..."
1,"[Action, Drama, Thriller]","Like others, I found the opening sequence on t...","Global spy agency Citadel has fallen, and its ..."
2,"[Action, Adventure, Comedy]",Much of what you expect from pretty much every...,"Follow the adventures of Peter Pan, a boy who ..."
3,"[Action, Adventure, Comedy]","I've never played the game, and not sure if I ...",A charming thief and a band of unlikely advent...
4,"[Action, Adventure, Drama]",,A boy becomes the Messiah of nomads on a deser...
...,...,...,...
351,"[Comedy, Fantasy, Musical]",I'm here for keagen but it's pretty good I can...,A couple on a backpacking trip discovers a mag...
352,"[Action, Comedy, Thriller]",Joining Terminator 2: Judgement Day as one of ...,"A fearless, globe-trotting, terrorist-battling..."
353,"[Comedy, Drama, Sport]","Despite mixed reviews, I absolutely loved this...",A former minor-league basketball coach is orde...
354,[Comedy],The best sitcom ever to be produced and aired ...,The continuing misadventures of neurotic New Y...
355,"[Comedy, Drama]","Just watched the first episode of ""Lucky Hank""...",An English department chairman at an underfund...

In [ ]:
title_df_new = title.iloc[:356]
title_df_new

                                       movie
0             Guardians of the Galaxy Vol. 3
1                                    Citadel
2                          Peter Pan & Wendy
3    Dungeons & Dragons: Honor Among Thieves
4                             Dune: Part Two
..                                       ...
351                             Schmigadoon!
352                                True Lies
353                                Champions
354                                 Seinfeld
355                               Lucky Hank

[356 rows x 1 columns]

In [ ]:
df = pd.merge(title_df_new, final_result, left_index=True, right_index=True)
df

,movie,Genre,Storyline,plot
0,Guardians of the Galaxy Vol. 3,"[Action, Adventure, Comedy]","""There is no God. That's why I stepped in."" I ...","Still reeling from the loss of Gamora, Peter Q..."
1,Citadel,"[Action, Drama, Thriller]","Like others, I found the opening sequence on t...","Global spy agency Citadel has fallen, and its ..."
2,Peter Pan & Wendy,"[Action, Adventure, Comedy]",Much of what you expect from pretty much every...,"Follow the adventures of Peter Pan, a boy who ..."
3,Dungeons & Dragons: Honor Among Thieves,"[Action, Adventure, Comedy]","I've never played the game, and not sure if I ...",A charming thief and a band of unlikely advent...
4,Dune: Part Two,"[Action, Adventure, Drama]",,A boy becomes the Messiah of nomads on a deser...
...,...,...,...,...
351,Schmigadoon!,"[Comedy, Fantasy, Musical]",I'm here for keagen but it's pretty good I can...,A couple on a backpacking trip discovers a mag...
352,True Lies,"[Action, Comedy, Thriller]",Joining Terminator 2: Judgement Day as one of ...,"A fearless, globe-trotting, terrorist-battling..."
353,Champions,"[Comedy, Drama, Sport]","Despite mixed reviews, I absolutely loved this...",A former minor-league basketball coach is orde...
354,Seinfeld,[Comedy],The best sitcom ever to be produced and aired ...,The continuing misadventures of neurotic New Y...
355,Lucky Hank,"[Comedy, Drama]","Just watched the first episode of ""Lucky Hank""...",An English department chairman at an underfund...

In [ ]:
df.to_csv('data_film.csv', index=False)